*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.principal{
    width: 100%;
    height: 100vh;
    background-image: url(img/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.estrellaContainer{
    position: absolute;
    top: 50%;
    left: 8%;
    background-color: rgba(21, 51, 223, 0.582);
    height: 30%;
    width: 50%;
    border-radius: 30px;
}
.estrellaTitulo{
    color: rgb(166, 255, 0);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    height: 10%;
    width: 100%;
}
.productosEstrella{
    background-color: rgba(8, 214, 197, 0.493);
    position: relative;
    top: 10%;
    height: 110%;
    width: 100%;
    border-radius: 30px;
}
.productoEst{
    float: left;
    width: 30%;
    height: 100%;
    margin: 1%;
}
.productoEst:hover{
    width: 32%;
    height: 102%;
    margin: 0%;
}

.imgProducto{
    border-radius: 20px;
    margin: 5%;
    margin-top: 3%;
    margin-bottom: 1%;
    max-width: 90%;
    max-height: 100%;
}

.logo{
    width: 200px;
    cursor: pointer;
}

.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    color:#fffb00;
    padding: 10px 25px;
    background:black ;
    border: 2px solid #fbfcfd; 
    border-radius: 20px ;
    outline: none;
    cursor: pointer;
}
.enlaceMain:visited{
    color:#fffb00;
}
.contenido{
    color:#fbfcfd;
    position: absolute;
    top: 30%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

h1{
    font-size: 80 px;
    font-weight: bold;
    margin: 10px 0 30px;
    line-height: 80px;
}

.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);
    position:absolute;
    right: 0;
    top: 0;
}
.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}

.social-links img, .enlaces-utiles img{
width: 25px;
margin: 5px auto;
cursor: pointer;
}

.social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.enlaces-utiles{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
}


.burbujas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:absolute;
    bottom: 0;
}

/* animiacion de las burbujas*/
.burbujas img{
    width: 50px;
    animation: bubble 7s linear infinite;
}

@keyframes bubble {
    0%{
        transform:translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }

    70%{
        opacity: 1;
    }

    100%{
        transform:translateY(-80vh);
        opacity: 0;
    }
}

.burbujas img:nth-child(1){
    animation-delay: 0.5s;
    width: 30px;
}
.burbujas img:nth-child(2){
    animation-delay: 6s;
    width: 70px;

}
.burbujas img:nth-child(3){
    animation-delay: 3s;
    width: 60px;
}
.burbujas img:nth-child(4){
    animation-delay: 4.5s;
}
.burbujas img:nth-child(5){
    animation-delay: 2s;
    width: 20px;
}
.burbujas img:nth-child(6){
    animation-delay: 7s;
    width: 25px;
}
.burbujas img:nth-child(7){
    animation-delay: 5s;
    width: 40px;
}
