*{
    font-size: 25px;
    color: brown;  
}

body{
    background-image: url('background.gif');
    background-size: cover;
}


footer{
    position: fixed;
    bottom: 0;
}

.container{
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
}

header{
    position: fixed;
    width: 100%;
    float:none;
    top: 0;
    z-index: 100;
    
    margin: 0px;
    font-size: 50px;
    text-align: center;

}
header >a{
    text-decoration: none;
    font-size: 50px;
}

.product{
    position: relative;
    width:200px;
    height:320px;
    margin: 15px;
    overflow: hidden;
}

.button{
    width: 70%;
    height:65px;
    text-decoration: none;
    background-color: transparent;
}
.container_button{
    position: absolute;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
}